.fin_AlterContainer {
    height: 90vh;
    width: 100%;

    background-color: var(--cinza-claro);

    display: flex;
    flex-direction: column;
}

.fin_AlterContainer .fin_TabContainer {
}

.fin_TabContainer nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 32px;
}

.fin_TabContainer .fin_tabs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fin_TabContainer .fin_tabs .fin_tabButton {
    border-bottom: 2px solid var(--azul-da-franca);
    border-radius: 0px;
    padding-bottom: 16px;
    padding-right: 16px;
    width: 110px;
    text-align: left;

    font-size: 0.9em;
    color: var(--cinza-escuro);
    cursor: pointer;
}

.fin_AlterContainer .fin_ContentAlterContainer {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex: 1;
}

.fin_tabButton.ativo {
    background-color: var(--azul-da-franca);
    color: #fff !important;
    border-top-right-radius: 5px !important;
}
