:root {
    --casca-de-laranja: #ffa630;
    --casca-de-laranja-60: #ffca83;
    --azul-da-franca: #1e87f0;
    --azul-da-franca-60: #78b7f6;
    --jeans: #0060c0;
    --cinza-escuro: #737373;
    --platina: #d9d9d9;
    --fumaca-branca: #f3f3f3;
    --cinza-claro: #e4e4e4;
    --branco: #ffffff;
    --verde: #0cce6b;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-weight: 100;
    box-sizing: border-box;
    color: #737373;
}


html, body, #root, #cssportal, #content, .main-content {
  height: 100%;
  width: 100%;
}

body {
    /* background: rgb(2,0,36);
  background: linear-gradient(80deg, rgba(2, 0, 36, 0.95) 0%, rgba(50,99,74,0.75) 35%, rgba(137,158,55,0.65) 100%); */
    overflow: hidden;
}

#cssportal {
    display: flex;
    flex-direction: column;
}
#header {
  width: 100%;
  background-color: #A5CFF9;
  background-position: bottom;
}
#content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main-content {
    display: flex;
    flex: 1;
}

