/* dialogcalendar.module.css */

.dialogContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  z-index: 1000;
}

.overlay {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content {
  max-width: 500px;
  width: 100%;
}

.header, .footer {
  padding: 10px 0;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.description {
  font-size: 16px;
  color: #555;
}
